input[type=button] {
    margin: 2px;
}

fieldset{
    margin-bottom: 10px;
}

legend{
    margin-bottom: 4px;
}

#container {
    margin: 10px;
}

#outContainer{
    position: relative;
    float: left;
}

#streamContainer, #canvasContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.status-panel {
    padding: 5px;
    color: dodgerblue;
    font-weight: bold;
}

.form-control.goto{
    display: inline;
    width: 80px;
    margin: 2px;
}